html {
  height: 100%;
  width: 100%;
}

body {
  width: 100%;
  font-family: sans-serif;
  padding-top: 150px;
  padding-bottom: 100px;
}

h1 {
  text-align: center;
}

.splash {
  margin: 0 auto;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 200px;
  height: 200px;
  margin: 0 10px 10px 0;
}

@media screen and (max-width: 768px) {
  h1 {
    text-align: center;
  }

  .container {
    flex-direction: column;
  }
}