html {
  height: 100%;
  width: 100%;
}

body {
  font-family: sans-serif;
  padding: 200px;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 200px;
  height: 200px;
  margin: 0 10px 10px 0;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}